%h1.title Contact

%p
  :textile
    SemanticTweet is in active development by "Steve Flinter":http://blog.flinter.com/about, aka "@sflinter":http://twitter.com/sflinter.  You can follow developments on "my own blog":http://blog.flinter.com, or the "SemanticTweet blog":http://blog.semantictweet.com and "@semantictweet":http://twitter.com/semantictweet.

    Check out my "contact page":http://blog.flinter.com/contact if you still haven't found a mode of communication to suit your needs.