!!! 1.1
%html{html_attrs}
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }
    %meta{ :name => "keywords", :content => "twitter foaf semantic web rdf" }
    %meta{ :name => "description", :content => "FOAF feed for twitter friends and followers" }
    %title SemanticTweet - twitter meets the semantic web
    %link{ :href => "stylesheets/default.css", :rel => "stylesheet", :type => "text/css" }
  %body
    #logo-wrap
      #logo
        %h1
          %a{ :href => "/" }
            SemanticTweet
        %h2
          Twitter meets the semantic web
    /
      start header
    #header
      #menu
        %ul
          %li.current_page_item
            %a{ :href => "/" } Homepage
          %li
            %a{ :href => "http://blog.semantictweet.com/" } Blog
          %li
            %a{ :href => "/about" } About
          %li.last
            %a{ :href => "/contact" } Contact
    /
      end header
    /
      start page
    #wrapper
      #wrapper-btm
        #page
          #content
            .post
              =yield
          %div{ :style => "clear: both;" }
            \&nbsp;
    /
      end page
    /
      start footer
    #footer
      #footer-wrap
        %p#legal
          :textile
            (c) 2009 "Steve Flinter":http://flinter.com/. Design by Free "CSS Templates":http://www.freecsstemplates.org/.

    /
      end footer

    /
      Google analytics
    %script{ :type => "text/javascript" }
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    %script{ :type => "text/javascript" }
      try {
      var pageTracker = _gat._getTracker("UA-409597-10");
      pageTracker._trackPageview();
      } catch(err) {}
